html {
  font-family: 'Cuprum', sans-serif;
}

body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
 }

main {
   flex: 1 0 auto;
 }

nav {
  background-color: #B5A8A8;
}

nav .brand-logo {
  margin-left: 30px;
}

h1 {
    font-size: 4.2rem;
    line-height: 110%;
    margin: 2.1rem 0 1.68rem 0;
    text-align: center;
    color: #aaa;
}

a.skill_link {
    color: rgba(82, 70, 70, 1);
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: ;
}

a.skill_link:hover {
    color: rgba(82, 70, 70, 0.6);
  }

a.change_skill_link.center-align {
    padding: 5px;
    display: block;
    color: black;
}

a.change_skill_link.center-align {
    padding: 5px;
    display: block;
    color: black;
    width: 100px;
    height: 36px;
    box-shadow: 2px 2px 30px #ddd;
    padding-top: 9px;
}

.col.sm6.each_delete input {
    padding: 10px;
}

.row.skills_buttons {
    width: 250px;
    margin: 0 auto;
}

.each_delete input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
    width: 100px;
    border: none;
    box-shadow: 2px 2px 30px #ddd;
    background-color: transparent;
    text-transform: capitalize;
}

form.new_form {
    margin-top: 33px;
    background-color: #f4f4f4;
    box-shadow: 2px 2px 20px #aaa;
    padding: 50px;
}

form.new_form label {
    font-size: 1.8rem;
    color: #9e9e9e;
}

.row.inventory_dashboard {
    text-align: center;
}

.card {
    position: relative;
    margin: 0.5rem 0 1rem 0;
    transition: box-shadow .25s;
    border-radius: 2px;
    box-shadow: none;
}

.card-panel {
  text-align: center;
}

.card-panel:hover {
    background-color: #524646;
}

.skill_container {
    width: 500px;
    box-shadow: 2px 2px 26px #BBB0B0;
    padding: 20px;
    margin: 25px auto;
    text-align: center;
}

.card .card-action a {
  color: #000;
  text-transform: lowercase;
  font-size: 15px;
}

form.general_form {
    width: 60%;
    margin: 0 auto;
    background-color: #F3F3F3;
    box-shadow: 4px 4px 12px #bbb;
    margin-top: 25px;
    padding: 20px;
}

form.new_form.general_form button, #send_email_form button {
  background-color: rgba(82, 70, 70, 0.6)!important;
}

form.new_form.general_form button:hover, #send_email_form button:hover {
  background-color: rgba(82, 70, 70, 1)!important;
}

#send_email_form fieldset {
  margin-bottom: 20px;
}

.new_form textarea {
  margin-bottom: 20px;
}

footer {
    text-align: center;
    background-color: #f4f4f4;
    padding: 30px;
    font-size: 23px;
    width: 100%;
}
