<!-- <h1>Send Me a Message!</h1>

<form action="/contact/<%= @skill.send_email %>" method="post">


  <input type="text" value="<%= @skill.email_name %>" name="from_name" placeholder="your name"><br/>
  <textarea name="message" placeholder="enter email message here"><%= @skill.email_message %></textarea><br/>
  <button class="btn waves-effect waves-light btn-large cyan darken-4" type="submit" name="action" value="submit">
    <i class="material-icons left">repeat</i>
    <span>SEND</span>
  </button>
</form> -->
