<div class="inventory_dashboard">

  <h1>Inventory of Skills</h1>


<div class = "divider"></div>

<div class="row">

    <div class="col m6">
      <a class="card-link" href="/skills">
        <div class="card">
          <div class="card-panel grey-text">
            <span class="card-title">Existing Skills</span>
            <p>Check out your sweet skills.</p>
          </div>
        </div>
      </a>
    </div> <!-- cols4 -->

    <div class="col m6">
      <a class="card-link" href="/skills/new">
        <div class="card">
          <div class="card-panel grey-text">
            <span class="card-title">Log a new Skill</span>
            <p>Create a new skill here.</p>
          </div>
        </div>
      </a>
    </div> <!--cols4-->

</div> <!--row-->
</div> <!--container-->
