<div class="row inventory_dashboard">

  <h1>Inventory of Skills</h1>

  <div class = "divider"></div>

  <div class="col s6 ">
    <a class="card-link" href="/skills">
      <div class="card">
        <div class="card-content grey-text">
          <span class="card-title">Existing Skills</span>
          <p>Check out your sweet skills.</p>
        </div>
        <div class="card-action">
          <a href = "/skills">Skill Index</a>
        </div>
      </div>
    </a>
  </div>

  <div class="col s6">
    <a class="card-link" href="/skills/new">
      <div class="card">
        <div class="card-content grey-text">
          <span class="card-title">Log a new Skill</span>
          <p>Create a new skill here.</p>
        </div>
        <div class="card-action">
          <a href="/skills/new">New Skill</a>
        </div>
      </div>
    </a>
  </div>

</div>
