<div class="container new_form">
  <form class = "new_form" action="/skills" method="post">
    <label for="skill_name">Enter a new skill:</label>
    <input placeholder="skill name" id="skill_name" type="text" name="skill[name]"/><br/>
    <label for="skill_status">What is the status of your skill?</label>
    <textarea id="skill_status" placeholder="enter details here!" name="skill[status]"></textarea><br/>
    <button class="btn waves-effect waves-light btn-large cyan darken-4" type="submit" name="action" value="submit">
      <i class="material-icons left">playlist_add</i>
      <span>ADD TO SKILLS</span>
    </button>
  </form>
</div>
