<div class="container">
  <div class="row">
    <div class="individual_skill">
      <h1 class = "col sm6"><%= @skill.name %></h1>
      <p class= "show_description col sm6"><%= @skill.status %></p>
    </div>
  </div>
</div>
